.mainView {
    background: url(images/landscape.jpg) no-repeat;
    background-size: 100vw 100vh;
}

.anchor {
    color: white;
    font-size: 20px;
}

.anchor1 {
    color:white;
    font-size: 22px;
    font-weight: 700;
}

.vlNavBar {
    width: 25%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(3, 3, 28);
}

.footerIcon1{
    width: 40px;
    height: 40px;
    padding-right: 40px;
}

.footerIcon2{
    width: 50px;
    height: 50px;
    padding-right: 40px;
}

.mainViewButton {
    width: 280px;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: 500;
    color: white;
    border: 5px solid black;
    background-color: rgba(135, 206, 235, 0.7);
    
}

.loginformfield {
    width: 360px;
    height: 80px;
    padding: 0 20px 0;
    margin-top: 25px;
}

vaadin-email-field.loginformfield::part(label), 
vaadin-password-field.loginformfield::part(label) {
    color: black;
    font-size: 23px;
}

vaadin-email-field.loginformfield::part(input-field),
vaadin-password-field.loginformfield::part(input-field) {
    border: 2px solid black;
    font-size: 18px;
}

.loginformbutton {
    width: 120px;
    height: 40px;
    margin-top: 40px;
    border: 3px solid black;
    cursor: pointer;
    background-color: var(--lumo-contrast-10pct);
}

vaadin-button.loginformbutton::part(label)
{
    color: black;
    font-size: 18px;
    font-weight: 500;
}

.bodysregister {
    width: 33%;
    height: 100%;
    align-items: center;
    padding-top: 15px;
    gap: 15px;
}

.registerformfield {
    width: 270px;
    height: 60px;
    padding: 0 10px 0;
    margin-top: 12px;
}

vaadin-text-field.registerformfield::part(label),
vaadin-number-field.registerformfield::part(label),
vaadin-date-picker.registerformfield::part(label),
vaadin-radio-group.registerformfield::part(label),
vaadin-email-field.registerformfield::part(label), 
vaadin-checkbox-group.registerformfield::part(label),
vaadin-password-field.registerformfield::part(label),
vaadin-select.registerformfield::part(label) {
    color: black;
    font-size: 17px;
}

vaadin-text-field.registerformfield::part(input-field),
vaadin-number-field.registerformfield::part(input-field),
vaadin-date-picker.registerformfield::part(input-field),
vaadin-radio-group.registerformfield::part(input-field),
vaadin-email-field.registerformfield::part(input-field),
vaadin-checkbox-group.registerformfield::part(input-field),
vaadin-password-field.registerformfield::part(input-field),
vaadin-select.registerformfield::part(input-field) {
    border: 2px solid black;
    font-size: 13px;
}

.registerformbutton {
    width: 150px;
    height: 50px;
    border: 3px solid black;
    cursor: pointer;
    background-color: var(--lumo-contrast-10pct);
}

vaadin-button.registerformbutton::part(label)
{
    color: black;
    font-size: 18px;
    font-weight: 500;
}